* {
    font-family: "Open Sans", sans-serif;
}

body{
    top: 0;
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 0;
}

.jumbotron {
    top: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.jumbotron h1 {
    text-shadow: 1px 1px 2px black;
}

.full-board {
    border: 5px, solid, black;
    height: 50%;
}

.details-board {
    border: 3px solid black;
    height: 50vh;
}

.forecast-board {
    height: 50vh;
    padding: 0;
}

.forecast-board ul li {
    list-style-type: none;
    margin: 10px;
    height: 30vh;
}

.city-search {
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

.city-search h2 {
    margin-left: 10px;
}

.search-bar {
    margin-left: 10px;
    margin-bottom: 50px;
}

.city-history {
    margin-left: 10px;
}